@using Asp.NetCore_Example.Models
@model List<Product>

<html>

<head>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        #h1 {
            text-align: center;
        }

        th, td {
            border: 3px solid #dddddd;
            text-align: left;
            padding: 9px;
        }
        tr:nth-child(even)
        {
            background-color : #dddddd;
        }

    </style>


</head>


<body>
    
    <h1 id="h1">Ürünler</h1>

    <table>
 
        <tr>
            <th>Category</th>
            <th>Product</th>
            <th>Price</th>
        </tr>


        @foreach (Product item in @Model)
        {
            <tr>
                <td>@item.Category</td>
                <td>@item.productName</td>
                <td>@item.price</td>
            </tr>
        }

        
    </table>

</body>

</html>